.strip-track {
  white-space: nowrap;
  display: inline-block;
}

.scroll-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-loop 20s linear infinite;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
