.strip-track {
  animation: scroll-loop 15s linear infinite;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(-150%);
  }
  /* 50% {
    transform: translateX(50%);
  } */
  100% {
    transform: translateX(150%);
  }
}
